<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<div layout:fragment="content">
  <h2>新規登録</h2>

  <form th:action="@{/users/create}" method="post" th:object="${createUserBodyModel}">
    <div>
      <label>姓:
        <input type="text" th:field="*{familyName}" required>
      </label>
    </div>

    <div>
      <label>セイ:
        <input type="text" th:field="*{familyNameRuby}" required>
      </label>
    </div>

    <div>
      <label>名:
        <input type="text" th:field="*{firstName}" required>
      </label>
    </div>

    <div>
      <label>メイ:
        <input type="text" th:field="*{firstNameRuby}" required>
      </label>
    </div>

    <div>
      <label>メールアドレス:
        <input type="email" th:field="*{mail}" required>
      </label>
    </div>

    <div>
      <label>パスワード:
        <input type="password" th:field="*{password}" required>
      </label>
    </div>

    <button type="submit">登録</button>
  </form>

  <p>すでにサウナ〜の方は
    <a th:href="@{/login}">ログイン</a>
  </p>
</div>
</html>
