<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User Registration</title>
</head>
<body>
<h2>User Registration</h2>

<form th:action="@{/users/create}" method="post" th:object="${createUserBodyModel}">
  <div>
    <label for="familyName">Family Name:</label>
    <input type="text" id="familyName" th:field="*{familyName}" required>
  </div>
  <div>
    <label for="familyNameRuby">Family Name Ruby:</label>
    <input type="text" id="familyNameRuby" th:field="*{familyNameRuby}">
  </div>
  <div>
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" th:field="*{firstName}" required>
  </div>
  <div>
    <label for="firstNameRuby">First Name Ruby:</label>
    <input type="text" id="firstNameRuby" th:field="*{firstNameRuby}">
  </div>
  <div>
    <label for="mail">Email:</label>
    <input type="email" id="mail" th:field="*{mail}" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" th:field="*{password}" required>
  </div>
  <button type="submit">Register</button>
</form>

<p>
  Already have an account? <a th:href="@{/login}">Login</a>
</p>
</body>
</html>
